<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qapps.asus.quizapps">

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BangladeshActivity"
        android:parentActivityName=".MainActivity"
        >
        </activity>
        <activity android:name=".InternationalActivity"
        android:parentActivityName=".MainActivity"
        >
        </activity>
        <activity android:name=".EntertainmentActivity"
        android:parentActivityName=".MainActivity"
        >
        </activity>
        <activity android:name=".SportsActivity"
        android:parentActivityName=".MainActivity"
        >
        </activity>
        <activity android:name=".ScienceActivity"
        android:parentActivityName=".MainActivity"
        >
        </activity>
        <activity android:name=".QuickActivity"
        android:parentActivityName=".MainActivity"
        >
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>